build/bin
bin/
build/linux/*.desktop
build/linux/appimage/build/
build/linux/appimage/*.png
build/darwin
build/ios
build/windows/installer
node_modules
frontend/dist
frontend/.vscode
frontend/bindings
.idea
.task
/ClassicAddonManager.exe
/wails_windows_amd64.syso
