body {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
    --PrimaryColor: #0078D7; /* Change of your choice */
    --PrimaryColorLight: #60CDFF; /* Lighter version of --PrimaryColor for DarkMode */
}

[data-theme="dark"] ::selection {
    background-color: #2E517E;
}

.app-flex-col {
    display: flex;
    flex-direction: column;
}

.px-sm {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-sm {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-md {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-md {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.card {
    background: #1c1b1b;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-header h2 {
    margin-top: 1rem;
}

.addon-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.badge {
    background: var(--PrimaryColor);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.app-color-grey {
    color: rgb(103, 103, 103);
    font-weight: normal;
}

.visible {
    visibility: visible;
}

.placeholder {
    display: inline;
    position: absolute;
    visibility: visible;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.app-btn-warning{background-color: #fad262; color: #000;}